.header-personal-info-container {
    background-color: #efefef;
    padding: 0 200px 0 200px;
    display: flex;
    justify-content: space-evenly;
    
    a {
        padding-right: 10px;
    }

    .header-linkedin-wrapper, 
    .header-email-wrapper {
        padding: 10px 0 10px 0;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;

        .email-icon, 
        .linkedin-icon {
            padding-right: 5px;
        }

        a {
            text-decoration: none;
            color: #666;
            font-size: .75rem;
            letter-spacing: 0;
            line-height: 1rem;
            font-weight: 700;
            font-family: HelveticaNow,Helvetica,sans-serif;
            font-style: normal;
        }
    }
}



