.header-categories-container {
    background-color: #B6CFF2;
}

.header-categories-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.header-logo, .header-categories, .header-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}