body * {
    margin: 0;
}

.form-section {
    display: flex;
    justify-content: center;
    margin: 200px 450px 50px 450px;
    gap: 20px;
}

.form-container {
    box-shadow: 0 0 2px rgba(0, 0, 0, 50%);
    border-radius: 10px;
    flex: 1 1 0;
    width: 0;
    font-weight: 500;
}

.form-title-wrapper {
    background-color: #B6CFF2;
    margin: 0px 0px 16px;
    padding: 8px 0px 8px 16px;
    font-size: 22px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.form-wrapper {
    padding: 16px;
}

.form-input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    gap: 20px;

    label {
        width: 100px;
        font-size: 13px;
        margin-right: 20px;
    }

    input {
        padding: 10px 15px 10px 15px;
    }

    input::placeholder {
        color: #1E0033;
        font-weight: 700;
    }
}

.form-btn {
    height: 38px;
    color: #fff;
    background-color: #FC5628;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 10px;
}