.register-form-container {
    display: flex;
    justify-content: center;
    margin: 200px 450px 50px 450px;
    gap: 20px;
}

.register-container {
    box-shadow: 0 0 2px rgba(0, 0, 0, 50%);
    border-radius: 10px;
    flex: 1 1 0;
    width: 0;
    font-weight: 500;

    .register-form-title-wrapper {
        background-color: #B6CFF2;
        margin: 0px 0px 16px;
        padding: 8px 0px 8px 16px;
        font-size: 22px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

.register-private-policy-container {
    box-shadow: 0 0 2px rgba(0, 0, 0, 50%);
    border-radius: 10px;
    flex: 1 1 0;
    width: 0;
    font-weight: 500;

    p {
        padding: 16px;
    }

    .register-private-policy-title-wrapper {
        background-color: #B6CFF2;
        margin: 0px 0px 16px;
        padding: 8px 0px 8px 16px;
        font-size: 22px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .register-private-policy-action-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
        gap: 20px;
        padding: 16px;

        a {
            text-decoration: none;
            color: #6EA9E5;
        }
    }
}